<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/ico" href="static/assets/feva_square.png" />
  <link rel="stylesheet" href="static/libraries/VideoJS/video-js-7.3.0.min.css{{version['video-js-7.3.0.min.css']}}" />
  <link rel="stylesheet" href="static/libraries/Bootstrap/bootstrap-3.4.0.min.css{{version['bootstrap-3.4.0.min.css']}}" />
  <link rel="stylesheet" href="static/libraries/W3/w3-4.15.0.css{{version['w3-4.15.0.css']}}" />
  <link rel="stylesheet" href="static/libraries/Google/google-fonts.css{{version['google-fonts.css']}}" />
  <link rel="stylesheet" href="static/style.css{{version['style.css']}}" />
  <link rel="stylesheet" href="static/libraries/LoadingScreen/LoadingScreen.css{{version['LoadingScreen.css']}}" />
  <script src="static/libraries/JQuery/jquery-1.10.2.js{{version['jquery-1.10.2.js']}}"></script>
  <script src="static/libraries/Bootstrap/bootstrap-3.4.0.min.js{{version['bootstrap-3.4.0.min.js']}}"></script>
  <script src="static/libraries/React/react.development-16.14.0.js{{version['react.development-16.14.0.js']}}"></script>
  <script src="static/libraries/React/react-dom.development-16.14.0.js{{version['react-dom.development-16.14.0.js']}}"></script>
  <script src="static/libraries/Babel/babel-7.13.9.min.js{{version['babel-7.13.9.min.js']}}"></script>
  <script src="static/libraries/Iro/iro-5.3.2.js{{version['iro-5.3.2.js']}}"></script>
  <script src="static/libraries/Wavesurfer/wavesurfer-4.5.0.js{{version['Loawavesurfer-4.5.0.js']}}"></script>
</head>

<body>
  <div class="root-loading-screen"></div>
  <div class="root-processing-screen"></div>
  <div class="root-tool-bar"></div>
  <div class="notifications"></div>
  <div class="root-main-screen"></div>
  <div class="root-blocker"></div>
  <div class="root-generator"></div>
  <div class="root-data-display"></div>
  <div class="root-pinpoint-frames"></div>
  <div class="menu edit hidden"></div>
  <div class="menu add hidden"></div>
  <div class="menu track hidden"></div>
  <div class="root-tool-tip"></div>
  <div class="root-bubble-text"></div>
  <div class="youtube-test"></div>
  <div class="placeholder"></div>
</body>

<script type="text/jsx" src="{{ url_for('static', filename='Exceptions.jsx') }}{{version['Exceptions.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='./libraries/Anchor/Anchor.jsx') }}{{version['Anchor.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='./libraries/LoadingScreen/LoadingScreen.jsx') }}{{version['LoadingScreen.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='./libraries/Wavesurfer/Wavesurfer.jsx') }}{{version['Wavesurfer.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='Notification.jsx') }}{{version['Notification.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='Toolbar.jsx') }}{{version['Toolbar.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='SelectorPanel.jsx') }}{{version['SelectorPanel.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='Preview.jsx') }}{{version['Preview.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='Scrubber.jsx') }}{{version['Scrubber.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='VideoPanel.jsx') }}{{version['VideoPanel.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='DataSetWindow.jsx') }}{{version['DataSetWindow.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='DataPanel.jsx') }}{{version['DataPanel.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='MainScreen.jsx') }}{{version['MainScreen.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='Blocker.jsx') }}{{version['Blocker.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='Generator.jsx') }}{{version['Generator.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='GhostPanel.jsx') }}{{version['GhostPanel.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='TrackInfo.jsx') }}{{version['TrackInfo.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='LabelEditor.jsx') }}{{version['LabelEditor.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='LabelCanvas.jsx') }}{{version['LabelCanvas.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='EditorPanel.jsx') }}{{version['EditorPanel.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='TrackCreator.jsx') }}{{version['TrackCreator.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='LabelPanel.jsx') }}{{version['LabelPanel.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='SpeedLabelPanel.jsx') }}{{version['SpeedLabelPanel.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='DataDisplay.jsx') }}{{version['DataDisplay.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='ContextMenu.jsx') }}{{version['ContextMenu.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='Keypoints.jsx') }}{{version['Keypoints.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='PinpointPanel.jsx') }}{{version['PinpointPanel.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='Tooltips.jsx') }}{{version['Tooltips.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='BubbleText.jsx') }}{{version['BubbleText.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='Projects.jsx') }}{{version['Projects.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='ColorManager.jsx') }}{{version['ColorManager.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='Intervals.jsx') }}{{version['Intervals.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='XHR.jsx') }}{{version['XHR.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='History.jsx') }}{{version['History.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='Clipboard.jsx') }}{{version['Clipboard.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='Process.jsx') }}{{version['Process.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='Interface.jsx') }}{{version['Interface.jsx']}}"></script>
<script type="text/jsx" src="{{ url_for('static', filename='Variables.jsx') }}{{version['Variables.jsx']}}"></script>

<script type="text/jsx">
    // SET AUTOSAVE (Disabled right now)
    // window.setInterval(function () { // if (UNSAVED_CHANGES == true) { // saveChanges(); // } //}, 300000);
  </script>

</html>
